﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contacto</title>
</head>
<body>
    <div>
        <p>
        <h2>Informacion de Contacto</h2>
        </p>

        <p>
            <h4>Nombre:</h4> Paola Andrea Rodriguez Betancourt
            </br> 
            <h4>Correo:</h4>paorb0@gmail.com
            </br> 
            <h4>C.c:</h4> 1.117.532.097 
            </br> 
            <h4>Codigo Estudiantil:</h4> 0172010333 
        
        </p>

    </div>
        
    </div>
</body>
</html>
